<% @posts.each do |post| %>
  <% if logged_in? %>
    <% author = post.user.username %>
  <% else %>
    <% author = "Anonymous" %>
  <% end %>
  <div class="post-preview">
    <h3 class="post-subtitle">
      <%= post.content %>
    </h3>
    <p class="post-meta"> Posted by <%= author %> </p>
    <hr>
  </div>
<% end %>
<!-- Pager -->
<div class="clearfix">
  <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
</div>
